@charset "utf-8";
/* CSS Document */
img{
    border: 0;
}


.alert {
    background: #fff6bf url(/images/exclamation.png) center no-repeat;
    background-position: 15px 50%; /* x-pos y-pos */
    text-align: left;
    padding: 5px 20px 5px 45px;
    border-top: 2px solid #ffd324;
    border-bottom: 2px solid #ffd324;
    font-weight: bold;
    color: #000;
    }
.alert_small {
    background: #fff6bf url(/images/exclamation.png) center no-repeat;
    background-position: 5px 50%; /* x-pos y-pos */
    text-align: left;
    padding: 2px 20px 2px 25px;
    border-top: 1px solid #ffd324;
    border-bottom: 1px solid #ffd324;
    border-right: 1px solid #ffd324; 
    border-left: 1px solid #ffd324; 
    font-weight: lighter;
    font-size: 11px;
    color: #000;
    font-family: arial;
    }
.errorMsgDiv{background:#EDF291; font-size:12px; font-family:tahoma, Helvetica, sans-serif; border:1px solid #FF4646; color:#FF0000; padding:5px;}


.info, .success, .warning, .error, .validation_small,.loading {
    border: 1px solid;
    
    padding:2px 2px 2px 30px;
    background-repeat: no-repeat;
    background-position: 10px center;
	font-weight:bold;
}
.info {
    color: #00529B;
    background-color: #BDE5F8;
    /*background-image: url('../images/info.png');  */
}
.success {
    color: #4F8A10;
    background-color: #DFF2BF;
	padding:5px 5px 5px 30px;
    background-image:url('/images/ok.png');
    font-size: 12px;
}
.warning {
color: #9F6000;
background-color: #FEEFB3;
background-image: url('/images/warning.png');
font-size: 12px;       
}

.error {
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('/images/error_cross.gif');
    font-size: 11px;
    width: auto;
}
.loading {
    color: #000;
    background-color: #FFF;
    background-image: url('/images/loading.gif');
    font-size: 10px;
    width: auto;
    background-repeat:no-repeat;
    height:auto;
}
.paging a{
    padding:1px 4px 1px 4px;
    margin:0px 2px 0px 2px;
    border:1px solid #2C0975;
    background:#FFFFFF;
    color:#2C0975;
     font-size: 12px;
    text-decoration:none;
    font-family: tahoma,verdana;
}

.paging a:hover{
    border:1px solid #2C0975;
    background:#2C0975;
    color:#FFFFFF;
    text-decoration:none;
    font-size: 12px;
}
.smallTextBox{
font-size: 12px;
font-color: #CCC;
}
img{
border: 0;
}
.clean-gray{
        border:solid 1px #DEDEDE; 
        background:#EFEFEF;
        color:#222222;
        padding:4px;
        text-align:center;
    }
    .clean-yellow{
        border:solid 1px #DEDEDE; 
        background:#FFFFCC;
        color:#222222;
        padding:4px;
        text-align:center;
    }
    .clean-ok{
        border:solid 1px #349534; 
        background:#C9FFCA;
        color:#008000;
        font-weight:bold;
        padding:4px;
        text-align:center;
    }
    .clean-error{
        border:solid 1px #CC0000; 
        background:#F7CBCA;
        color:#CC0000;
        font-weight:bold;
        padding:4px;
        text-align:center;
    }
   caption {
    padding: 0 0 5px 0;
    
    font: italic 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
    text-align: right;
}

.mainTable th {
    font: bold 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
    color: #4f6b72;
    border-right: 1px solid #C1DAD7;
    border-bottom: 1px solid #C1DAD7;
    border-top: 1px solid #C1DAD7;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: left;
    padding: 6px 6px 6px 12px;
    background: #CAE8EA url(images/bg_header.jpg) no-repeat;
}

.mainTable th.nobg {
    border-top: 0;
    border-left: 0;
    border-right: 1px solid #C1DAD7;
    background: none;
}

.mainTable td {
    border-right: 1px solid #C1DAD7;
    border-bottom: 1px solid #C1DAD7;
    background: #fff;
    padding: 6px 6px 6px 12px;
    color: #4f6b72;
    font-family: arial,verdana;
    font-size: 12px;
}


.mainTable td.alt {
    background: #F5FAFA;
    color: #797268;
}

.mainTable th.spec {
    border-left: 1px solid #C1DAD7;
    border-top: 0;
    background: #fff url(images/bullet1.gif) no-repeat;
    font: bold 10px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
}

.mainTable th.specalt {
    border-left: 1px solid #C1DAD7;
    border-top: 0;
    background: #f5fafa url(/images/bullet2.gif) no-repeat;
    font: bold 10px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
    color: #797268;
}

