
html, body{
	height:100%;
	font-family:Arial, Helvetica, sans-serif;
	
	}
table {100%}
table td{ width:10px; max-width:50px; word-wrap:word-break;}	
.bluebg{ 

background: url(/images/bg.jpg) repeat;
 height:100%
 
 }
.whitebg{ 
background: url(/images/white.jpg) repeat; 
height:100%
}

#header{ 
width:100%; 
/*height:165px; */
height:150px;
/*background: url(/images/headerbg.png) repeat-x;*/
background-color:#0F5195;
}

#header  .cls_banner{ 
width:940px;
margin:0 auto;
height:150px;
}


#header  .cls_about_portal{ 
	position:relative;
	top:40px;
	float:right;
	margin-right:20px;
	z-index:20px;
	color:#FFF;
	font-size:0.875em;
}


.cls_about_portal a{ 
	color:#FFF;
	text-decoration:none;
}

#header_logo{ 
float:left; 
margin:0 0; 
width:auto
}

#header_time{ 
float:right; 
margin:20px 0; 
color:#fff; 
text-align:right; 
width:auto;
font-weight:bold;
}

#header_time a{
	color:#09F; 
	 font-size:11px;
	 }
	 
#header_time a:hover{
	color:#09F; 
	text-decoration:underline
	}
	
.bigtxt{ 
font-size:22px; 
color:#fff; 
text-shadow:0px 1px 1px #333;
font-weight:bold;  
letter-spacing:-.05em; 
margin-top:50px;
}

.bigtxt span{
	 font-size:100px;
	   line-height:110px; 
	   font-weight:bold;
	  padding-top:-50px;
	    letter-spacing:-.06em;
		 color:#fff; 
		 text-shadow:0px 1px 1px #333;
		 }
		 
		 
.righttxt{ 
text-shadow:1px 1px 1px #333; 
 margin-top:20px;
  width:100%;
  float:left;
   text-align:left; 
   color:#fff; 
   padding:0px 2%;
   }
   
.greybar{ 
width:90%; 
float:left;
 padding:10px 5%; 
 background:#f5f5f5;
  color:#333; 
  text-shadow:1px 1px 1px #fff;
  }
  
.greybar_right{ 
width: auto;
 float:right; 
 font-size:12px;
 }
 
.greybar_left{
	 width: auto; 
	 float:left;
	 }
	 
.titlediv{
	 width:90%; 
	 padding:11px 5%;
	  background:#ef1227;
	   color:#333;
	    text-shadow:1px 1px 1px #333;
		}
		

.signin, .signup {
width:90%;
padding:20px 5% 10px;
float:left;
background: #fff;
background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#fff),color-stop(100%,#ddd));
background: -webkit-linear-gradient(top,#fff 0,#ddd 100%);
background: -moz-linear-gradient(top,#fff 0,#ddd 100%);
background: -ms-linear-gradient(top,#fff 0,#ddd 100%);
background: -o-linear-gradient(top,#fff 0,#ddd 100%);
background: linear-gradient(top,#fff 0,#ddd 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#dddddd',GradientType=0);
border-left: solid 1px #eee;
border-right: solid 1px #eee;
border-bottom: solid 1px #ccc;
-webkit-box-shadow: 0 1px 0 rgba(0,0,0,.1);
-moz-box-shadow: 0 1px 0 rgba(0,0,0,.1);
box-shadow: 0 1px 0 rgba(0,0,0,.1);
border-radius:5px;
  }

.row.map{ 
background: url(/images/map.png) center no-repeat;
 height:400px
 }
 
.main_footer{ 
background:#d6d7d8;
 width:100%;
margin-top:20px; 
padding:5px 0;
 color:#333;
  position: absolute ; 
  bottom:0; 
  font-size:11px;
  text-shadow:1px 1px 1px #FFF;
  
}

 
.main_footer2{ 
background:#d6d7d8;
 width:100%;
margin-top:20px; 
padding:5px 0;
 color:#333;
  position:  relative ; 
  bottom:0; 
  font-size:11px;
  text-shadow:1px 1px 1px #FFF;
  
}


/*ADMIN*/
  .adminheader{ background:#ececec; border:1px solid #ddd; width:96%; padding:5px 2%;border:1px solid #ddd;-moz-border-radius: 4px ; 
		-webkit-border-radius: 4px ; 
		border-radius: 4px ;}
		.messageWr{ width:100%;}
	.messageWr table{ text-shadow:none; font-size:11px; color:#333; font-weight:normal; border:1px solid #CCC;}
	.messageWr table td a{ font-size:11px;  }
	.messageWr table tr:nth-child(1){background:none}
	.messageWr table a{ color:#333;}
	.messageWr table td{color:#333; font-size:11px; border:1px solid #eee; word-wrap:break-word;}
	.messageWr table a:hover{color:#069; text-decoration:underline;}
	.messageWr table strong{ color:#069; font-size:11px}
	.messageWr adminheader{width:90%; padding:5px 5%; background:#eee; display:block; border:1px solid #ddd;-moz-border-radius: 4px ; 
		-webkit-border-radius: 4px ; 
		border-radius: 4px ;}
	.pubbtn{ font-size:10px;  cursor:pointer; font-weight:bold;  padding:3px 12px;  color:#fff; background-image: url(../images/publish.gif); background-position:center; -moz-border-radius:50%; 
		-webkit-border-radius:50%; border-radius:50% ;  -webkit-box-shadow: inset 0 1px 5px #6C8516;
		box-shadow: inset 0 1px 5px #6C8516;
		}
	.unpubbtn{ font-size:10px; cursor:pointer; font-weight:bold; padding:3px 12px; color:#fff; background-image: url(../images/unpublish.gif); background-position:center; -moz-border-radius:50%; 
		-webkit-border-radius:50%; border-radius:50% ;  -webkit-box-shadow: inset 0 1px 5px #F30;
		box-shadow: inset 0 1px 5px #F30;
		}			
	.adminbtn2{ font-size:10px; cursor:pointer; font-weight:bold; padding:3px 12px; color:#fff; background-image: url(../images/delete.gif); background-position:center; -moz-border-radius:50%; 
		-webkit-border-radius:50%; border-radius:50% ;  -webkit-box-shadow: inset 0 1px 5px #F30;
		box-shadow: inset 0 1px 5px #F30;
		}			
.admintopright{ float:left; width:100%; }
.admintopleft{ float:left; width:100%; }
.admintopright .img{ margin-left:30px;text-align:center; float:left;  width:auto; -webkit-box-shadow:none; 
	box-shadow:none;}
	
.admintopright .img img{ padding:2px;text-align:center; float:right;-webkit-box-shadow:0 1px 5px #eee; box-shadow:0 1px 5px #eee;}
.admintopright .img img:hover{-webkit-box-shadow:0 0px 5px #999; box-shadow:0 0px 5px #999;}


a .adminbtns{ border:1px solid #ddd; width:140px; text-align:center; padding:10px ; text-shadow:none; background:#FFF; margin:10px 10px 10px 0; display:inline-block; top:0; border-radius:5px;
color:#333;
font-size:11px;
  -moz-border-radius:5px; 
  -webkit-border-radius:5px;
   -o-border-radius:5px; 
   -ms-border-radius:5px; 
   -webkit-box-shadow:0 0px 5px #ddd; 
	box-shadow:0 0px 5px #ddd;
	opacity:1;
	background:#f5f5f5;
					 } 
					 
a .adminbtns:hover{ 
webkit-box-shadow:none;
color:#39F;

					 } 				 

					 
					 
.adminbtns a{ float:none; text-decoration:none; border:none; color:#666; font-size:11px;} 
.adminbtns a img{  float:none; margin:0;  -moz-border-radius:5px; 
  -webkit-border-radius:5px;
   -o-border-radius:5px; 
   -ms-border-radius:5px;
    -webkit-box-shadow:none; 
	box-shadow:none; }
   
.admintopright i{ font-size:30px;color:#333; padding-top:px }
.admintopright  i:hover{ font-size:30px; color:#39F }
i{ font-size:50px; padding-top:10px}
i:hover{ font-size:50px; padding-top:10px; color:#39F}
	
.messageWr table{ text-shadow:none; font-size:10px; color:#333; font-weight:normal; border:1px solid #CCC; }
	.messageWr table td a{ font-size:10px;  }
	.messageWr table tr:nth-child(1){background:none}
	.messageWr table a{ color:#333;}
	.messageWr table td{color:#333; font-size:10px; border:1px solid #eee; padding:5px 10px; width:10%}
	.messageWr table a:hover{color:#069; text-decoration:underline;}
	.messageWr table strong{ color:#069; font-size:11px}
	.messageWr adminheader{width:90%; padding:5px 5%; background:#eee; display:block; border:1px solid #ddd;-moz-border-radius: 4px ; 
		-webkit-border-radius: 4px ; 
		border-radius: 4px ;}	
	
.smalltext{  font-size:11px}	


.uicon-thumbs-up{
font-size:10px;  cursor:pointer; height:33px; width:33px; font-weight:bold;  padding:3px 12px; background:url(/images/activate.png) no-repeat;  color:#fff; -moz-border-radius:50%; -webkit-border-radius:50%; border-radius:50% ; border:none;  
}

.uicon-thumbs-down{
font-size:10px;  cursor:pointer; height:33px; width:33px; font-weight:bold;  padding:3px 12px; background:url(/images/deactivate.png) no-repeat;  color:#fff; -moz-border-radius:50%; -webkit-border-radius:50%; border-radius:50% ; border:none;  
}

@media only screen and (max-width: 768px) {
	
.main_footer{ 

  position: relative; 
  }

 table td{ word-wrap:word-break}	
 
 .navbar ul li > a { font-size:12px; font-size: .7rem;}
}

@media only screen and (max-width: 600px) {
	
.main_footer{ 

  position: relative; 
  }

 table td{ word-wrap:word-break}	
 
 .navbar ul li > a { font-size:12px; font-size: .7rem;}
 
#header{
	height:auto;
	width:100%; float:none;
}

#header .cls_banner{
	width:100%;	 
 }
 
#header .cls_banner  img{
	width:100%; border:none; float:none;
	height:auto;
 }
}