/* ---------------------------------------------------- */
/* GLOBAL
/* ---------------------------------------------------- */


/* ---------------------------------------------------- */
/* SLIDESHOW
/* ---------------------------------------------------- */
#slideshow{
width:580px;
background-color:none;
float:left;
text-shadow: none;



	

}
#slideshow ul {
margin: 0 0 0 0px;
padding: 0;
list-style-type: none;
/* IE fix */}

#slideshow ul:after {
content: ".";
clear: both;
display: block;
height: 0;
margin: 0;
           
}
/* ---------------------------------------------------- */
/* SLIDESHOW > SLIDES
/* ---------------------------------------------------- */
#slideshow .slides {
/*border-radius:10px;
-webkit-border-radius:10px;
-moz-border-radius:10px;
background:#f5f5f5 url(../images/contentbg2.jpg) bottom right repeat-x;
box-shadow:0px 2px 4px  #000;
-moz-box-shadow:0px 2px 4px  #000;
-webkit-box-shadow:0px 2px 4px  #000;*/
width:750px;
overflow:hidden;
float:left;


}

#slideshow .slides ul {
width: 3880px;
margin:0;
}

#slideshow .slides li {
width:752px;
float: left;
padding:0 0px;
margin:0;


}

#slideshow .slides h2 {
margin-top: 0;}

/* ---------------------------------------------------- */
/* SLIDESHOW > NAVIGATION
/* ---------------------------------------------------- */
#slideshow .slides-nav {
background-color:none;
width:752px;
z-index:10;
}

#slideshow .slides-nav li {

font-size:14px;
font-weight:bold;
color:#333;
float:left;

}

#slideshow .slides-nav li a {
padding:11px;
display: block;
color:#ddd;
font-weight:bold;
text-decoration:none;
outline: none;
margin:0;}



.js #slideshow .slides-nav li.on a {
position: relative;
top:10px;
color:#fff;
background:#0194CB url(../images/tabsbg.jpg) repeat-x ;
/*border-radius: 5px ;
			-webktit-border-radius: 5px ;
			-moz-border-radius: 5px ;*/
box-shadow:1px 2px 5px  #333;
-moz-box-shadow:1px 2px 5px  #333;
-webkit-box-shadow:1px 2px 5px  #333;

}


.js #slideshow .slides-nav li a:hover {
position: relative;
/*top:4px;*/
color:#fff;
/*box-shadow:1px 2px 5px  #333;
-moz-box-shadow:1px 2px 5px  #333;
-webkit-box-shadow:1px 2px 5px  #333;*/

}



