/*
   Spezific styling for salvattore
   Feel free to edit it as you like
   More info at http://salvattore.com
 */

/* Base styles */
.column {
    float: left;
	width:100%;

}
.column img { width:100%;}
.column .item {
	padding:10px 15px;
	overflow:hidden;
}
.column .item .img-area {
	border:1px solid #eee;
	padding:1px;
	background:#fff;
	overflow:hidden;
	position:relative;

}
.size-1of4 {
    width: 25%;
}
.size-1of3 {
    width: 33.333%;
}
.size-1of2 {
    width: 50%;
}
#timeline[data-columns]::before {
        content: '3 .column.size-1of3';
    }

/* Configurate salvattore with media queries */
@media screen and (max-width: 640px) {
    #timeline[data-columns]::before {
        content: '1 .column';
    }
}

@media screen and (min-width: 641px) and (max-width: 700px) {
    #timeline[data-columns]::before {
        content: '2 .column.size-1of2';
    }
}

@media screen and (min-width: 701px) and (max-width: 850px) {
    #timeline[data-columns]::before {
       content: '2 .column.size-1of2';
    }
}

