/*######################################*/
/*Colors for the template */
/*######################################*/

.marker,
.color,
#newsletter .btn:hover i ,
.feature i,
input:focus ~ .title,
input:valid ~ .title,
textarea:focus ~ .title,
textarea:valid ~ .title,
#counter .soon-label,
#counter .soon-ring-progress{
	color:#f7d701;
}
.bar:before,
.bar:after,
.service:hover .service-icon,
.background.solid{
	background:#0BC560;
}
.service:hover .circle-border{
	border-color:#0BC560;
}