.social-networks a:hover,
.newslatter input[type="submit"]:hover { -ms-filter: alpha(opacity=80);}
.slideshow-pagination { filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000040', endColorstr='#00000040',GradientType=0 );}
.slideshow-pagination:after { filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c82d1d60', endColorstr='#c82d1d60',GradientType=0 );}
.slideshow-pagination li a {  -ms-filter: alpha(opacity=50);}
.slideshow-pagination .active a,
.slideshow-pagination .tooltip {  -ms-filter: alpha(opacity=100);}
.slideshow .btn-prev,
.slideshow .btn-next{ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a1a1a80', endColorstr='#1a1a1a80',GradientType=0 );}
.slideshow .btn-prev:hover,
.slideshow .btn-next:hover { filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0120080', endColorstr='#e0120080',GradientType=0 );}
.slideshow-pagination .tooltip { background: #000;}
.slideshow-pagination .tooltip:after { border-top-color: #000;}
.media .thumbs .arrow { filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000030', endColorstr='#00000030',GradientType=0 );}
.blogs .video .arrow { filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000050', endColorstr='#00000050',GradientType=0 );}