/* lg */ 
@media (min-width: 1400px) {
	
}

/* md */
@media (min-width: 992px) and (max-width: 1199px) {
	#home-carousel .item.active img {
		margin-top: -45px;
	}
	
	#promotion img {
		margin-top: -37px;
		transform: scale(1.1);
	}
	
	.bottom-socials ul li a {
		padding: 8px;
	}
	
	.footer-menu li a {
		padding:20px 7px;
	}
	
	.post .post-content {
		padding:20px;
	}
	.blog1 .post h2.entry-title {
		font-size:24px;
		margin-bottom:15px;
	}
	.blog1 .regu-news .post .post-content {
		padding:45px;
	}
	.blog1 .sidebar .widget ul li, .blog1 .sidebar .widget ul li a {
		font-size:12px;
	}
	.blog1 .sidebar .widget .entry-title {
		font-size:18px;
	}
	.products ul li {
		width:17%;
	}
	#promotion h1 {
		font-size:35px;
	}
	#apps-footer {
		margin-top:-100px;
	}
	#apps-footer .apss-footer-menu{
		margin-right:25px;
	}
	.project .overlay h3 {
		left:-120%;
	}
	#shop-carousel .carousel-indicators li {
		width:170px;
	}
}

/* sm */
@media (min-width: 768px) and (max-width: 991px) {
	#navigation .navbar-right {
		margin-right: 13px;
	}
	#navigation .navbar-right li a {
		padding: 13px 7px;
		font-size:10px;
	}
	#onepage #navigation .navbar-right li a  {
		padding:13px 5px;
		font-size:12px;
	}
	#onepage #navigation .navbar-static-top .navbar-right {
		margin-right:0;
	}
	
	#navigation .topbar-icons span i {
		font-size:11px;
	}
	
	.carousel-caption h1 {
		font-size:35px;
	}
	
	.carousel-caption h2 {
		font-size:50px;
	}
	.carousel-caption .post-content h2 {
		font-size:45px;
	}
	
	#home-carousel .item img, 
	#home-carousel.shop-carousel .item .price-tag  {
		display:none;
	}
	
	.container>.carousel-arrows {
		left:15px;
	}
	#service .col-md-3 {
		margin-bottom: 45px;
	}
	.portfolio-item {
		width:50%;
	}
	.portfolio-content .overlay {
		padding: 40px;
	}
	.overlay a.folio-detail {
		top:50px;			
		font-size:45px;
	}
	.overlay a.folio-detail, 
	.overlay a.folio-link {
		left: 40px;
	}
	.overlay h2 {
		top: 20%;
	}
	.overlay p {
		top: 22%;
		font-size: 14px;
	}
	.about-content {
		text-align: justify;
	}
	.skills-section {
		margin-left:-15px;
	}
	.skill-data {
		margin-left: -22px;
		line-height:160px;
	}
	.skill-circle canvas {
		width:100% !important;
	}
	.team-member .overlay h4 {
		top:0;
	}
	.team-member .overlay p {
		top: -3%;
		line-height: 20px;
	}
	.social-icons {
		]bottom: 7px;
	}
	.social-icons li {
		margin-right: 17px;
	}
	.blog-image img {
		width: 100%;
	}
	h3.timer {
		font-size: 80px;
	}
	#clients-carousel .item img {
		width: 90%;
	}
	.client-left, .client-right {
		bottom: -11px;
		font-size: 48px;
	}
	
	.project .overlay h3 {
		font-size:24px;
	}
	
	.project .overlay h4 {
		font-size:18px;
	}
	
	.project.medium-content .overlay h3 {
		font-size:20px;
	}
	
	.project.medium-content .overlay h4{
		font-size:16px;
	}
	
	.project.medium-content .overlay a {
		font-size:24px;
		margin-top:-55px;
	}
	
	.project.small-content .overlay a {
		font-size:20px;
		margin-top:-45px;
	}
	.project.small-content .overlay h3 {
	  font-size: 14px;
	  line-height: 40px;
	}
	
	.project.small-content .overlay h4 {
		font-size:14px;
	}
	
	#promotion h1 {
		font-size:30px;
	}
	#promotion h2 {
		font-size:20px;
	}
	
	.entry-title {
		font-size:24;
	}
	
	.footer-menu {
		overflow:hidden;
		margin-top:12px;
	}
	
	.footer-menu li a {
		font-size: 12px;
		font-weight: 500;
		padding: 7px;
		text-transform: capitalize;
	}
	
	.copyright {
		font-size:13px;
	}
	
	.bottom-socials {
		margin-top: 0;
		padding-bottom: 25px;
	}
	
	
	.products ul li {
		width:28.8%;
	}
	.products ul li:nth-child(3){
		margin-right:0;
	}
	#shop .banner-adds .wide-banner {
		margin-top:15px;
	}
	
	.behind-app {
		margin-bottom:30px;
	}
	#onepage #promotion {
		text-align:center;
	}
	#onepage #promotion img {
		display:none;
	}
	#projects .btn.btn-primary {
		margin:35px 0 75px;
	}
	.project .overlay h3 {
		left:-120%;
	}
	.widget .latest-posts> .media, 
	.widget .recent-comment> .media{
		width:50%;
		float:left;
		margin-top:0;
		margin-bottom:15px;
	}
	#shop-carousel .carousel-indicators li {
		width:125px;
	}

}

/* xs */
@media (max-width: 767px) {
	body {
		font-size: 14px;
	}
	h1 {
		font-size: 20px;
	}
	h2 {
		font-size: 18px;
	}
	h3 {
		font-size: 17px;
	}
	
	/*===Home Page====*/

	/*Navigation*/
	
	#navigation .topbar-icons {
	  right: 95px;
	  top: -35px;
	}
	
	.navbar-brand{
		height:50px;
	}
	
	#navigation .navbar-right {
		margin-right: 0;
		margin-top: 0;
	}
	#navigation .navbar-right li a {
		padding: 6px 17px;
		font-size: 12px;
	}
	
	#index2 #navigation .navbar-right {
		background-color:rgba(0, 0, 0, 0.7);
	}
	
	#index2 #navigation .navbar-static-top {
		top:-50px;
	}
	ul.dropdown-menu-large> li {
		margin-bottom:15px;
	}
	
	/*Home Carousel*/
	#home-carousel .item {
		height:500px;
	}
	
	#index2 #home-carousel .item {
		height: 450px;
	}
	
	.carousel-caption img, 
	#home-carousel.shop-carousel .item .price-tag {
		display:none;
	}
	.carousel-caption h1 {
		font-size:20px;
	}
	.carousel-caption h2 {
		font-size:36px;
	}	
	.home-carousel-left, 
	.home-carousel-right {
		font-size:24px;
	}
	.navbar-header:before {
		display:none;
	}
	
	#cat-menu ul.navbar-nav {
		margin:5px 0;
	}
	
	#cat-menu ul.navbar-nav li {
		display:inline-block;
	}
	
	#cat-menu ul.navbar-nav li a {
		padding:5px;
		font-size:10px;
	}
	
	.blog-carousel .carousel-caption {
		margin-top:-90px;
	}
	.carousel-caption .post-content h2 {
		font-size:30px;
	}
	
	.carousel-caption .post-content .publish-date {
		font-size:18px;
	}
	
	.carousel-caption .post-content ul li {
		font-size: 14px;
		margin-right: 10px;
	}
	
	/*Service*/
	.padding-top {
		padding-top: 50px
	}
	.padding-bottom, 
	.section-title {
		padding-bottom: 45px;
	}
		
	#service .service-content {
		margin-bottom:50px;
	}
	
	#projects {
		padding-top:50px;
	}
	
	.project .overlay h3 {
		font-size:24px;
	}
	
	.project.medium-content .overlay h3 {
		font-size:20px;
	}
	
	#projects .btn.btn-primary {
		margin:20px 0 80px;
	}
	
	.parallax-section {
		min-height:370px;
	}
	
	#promotion h1 {
		font-size:32px;
	}
	
	#promotion img {
		display:none;
	}
	
	.quote-section {
		font-size:20px;
	}
	
	#projects .project-content {
		margin-bottom:15px;
	}
	
	.entry-title {
		font-size:24px;
		margin-bottom:15px;
	}
	
	.client-content ul li {
	  width: 24%;
	}
	
	.footer-top h2 {
		font-size:24px;
	}
	
	.footer-menu ul li {
		display:inline-block;
	}
	
	.footer-menu li a {
		font-size: 12px;
		line-height: 24px;
		padding: 0 5px;
	}
	
	.footer-bottom {
		text-align:center;
	}
	
	.bottom-socials {
		margin-bottom: 30px;
		margin-top: 12px;
	}
	
	#team-carousel .carousel-inner .col-sm-3 {
		width: 50%;
		float: left;
	}
	.team-carousel-left, 
	.team-carousel-right {		
		bottom: -65px;
		font-size: 18px;
		height: 40px;
		line-height: 45px;
		width: 40px;
	}
	.team-carousel-left {
		margin-left: -50px;
	} 
	.team-carousel-right{
		margin-right: -50px;
	}
	/*Parallax*/
	.parallax-content h1 {
	  line-height: 30px;
	}
	/*Works*/
	.portfolio-item {
		width:50%;
	}
	.portfolio-filter li a {
		font-size: 16px;
		padding: 2px 10px;
	}
	.portfolio-content .overlay {
		padding: 20px;
	}
	.overlay a.folio-detail {
		font-size: 35px;
		top:25px;
	}
	.overlay a.folio-detail, 
	.overlay a.folio-link {
		left: 25px;
	}
	.overlay h2 {
		top: 20%;	
	}
	.overlay p {
		top: 22%;
		font-size: 12px;
	}
	/*Blog*/
	
	.entry-content {
	  padding: 10px 15px 15px;
	}
	.entry-content a h2 {
		line-height: 24px;
		margin-bottom: 10px;
	}
	.entry-meta span a {
		font-size: 14;
	}
	.post-date {
		font-size: 30px;
		line-height: 24px;
		padding: 10px 20px 0;
	}
	.post-date span {
		font-size: 15px;
	}
	/*fun fact*/
	#fun-fact .funs i {
		font-size: 35px;
		margin-bottom: 0;
	}
	h3.timer {
		font-size: 45px;
		margin-top: 10px;
	}
	.btn-submit{
		padding: 10px 50px 8px;
	}

	/*Clients*/
	#clients {
		overflow: hidden;
	}
	#clients-carousel .item ul li {
		width: 50%;		
	}
	#clients-carousel .item ul li img {
		width: 85%;
	}
	.client-left, .client-right {
		display: none;
	}
	/*Pricing Table*/
	.pricing-table .col-sm-3 {
		width: 50%;
		float: left;
	}
	.single-table {
		margin-bottom: 35px;
	}
	#twitter i {
		font-size: 60px;
		margin-bottom: 20px;
	}
	/*Contact*/
	.contact-content .col-sm-4 {
		margin-bottom: 35px;
	}
	#gmap {
		height: 300px;
	}
	
	
	#main-blog {
		padding:50px 0 0;
	}
	
	.blog1 .post {
		margin-bottom:15px;
	}
	
	.blog1 .post .post-content {
		font-weight:400;
	}
	.blog1 .post h2.entry-title {
		font-size: 20px;
		margin-bottom: 15px;
	}
	.blog1 .regu-news .post h2.entry-title {
		font-size: 16px;
		margin-bottom: 8px;
	}
	
	
	.blog1 .regu-news .post .publish-date {
		font-size: 16px;
		margin-bottom: 10px;
	}	
	.post .entry-meta {
		margin-bottom:0;
	}	
	.blog1 .regu-news .post .entry-meta ul li {
		font-size:12px;
	}
	
	.blog1 .regu-news .sidebar .post .post-content h2 {
		font-size: 20px;
	}
	.blog1 .sidebar .widget .entry-title {
		font-size:16px;
	}
	.blog1 .sidebar .widget ul li, .blog1 .sidebar .widget ul li a {
		font-size:12px;
	}
	.blog1 .sidebar .small-post .media, 
	#shop .banner-adds .wide-banner {
		margin-top:15px;
	}
	.blog1 .sidebar .small-post, 
	#shop .banner-adds img {
		margin-bottom:15px;
	}
	.pagination-section {
		margin-bottom:20px;
	}
	.product-info {
		margin-top: 15px;
		padding-left: 15px;
	}
	.product-info h2 {
		font-size:30px;
	}
	.products.new-arrival-products {
		margin-bottom:0;
	}
	.payment-methods h2 {
		font-size:25px;
	}
	.payment-methods {
		padding-bottom:45px;
	}
	.products ul li {
		width:100%;
		margin-right:0;
		margin-bottom:15px;
	}
	#onepage #promotion-two {
		font-size:20px;
	}
	#promotion-two {
		font-size:16px;
		min-height:425px;
	}
	#promotion-two h1 {
		font-size:30px;
	}
	.position-title{
		margin-bottom:15px;
	}
	#fun-fact .funs h3 {
		font-size: 16px;
	}
	#fun-fact .timer{
		font-size:30px;
	}
	#onepage #contact-us{
		margin-bottom:0;
	}	
	.about-text {
		margin-bottom:30px;
	}
	
	#landing-carousel .carousel-caption{
		margin-top:-180px;
	}
	#landing-carousel .carousel-caption h3 {
		font-size:30px;
	}
	#landing-carousel .carousel-caption h4{
		font-size:18px;
		margin-bottom:15px;
	}
	#landing-carousel .carousel-caption .btn.btn-primary {
		font-size: 14px;
		margin-right: 10px;
		padding: 8px 10px;
	}
	#landing-carousel .carousel-caption i {
		margin-right:10px;
	}
	.app-section-title h2{
		font-size:20px;
		margin-bottom:50px;
	}
	.app-section-title {
		font-size:16px;
		margin-bottom:25px;
	}
	.lan-features ul li {
		padding:0 0 20px 70px;
	}
	#screenshots-carousel .item img {
		margin-bottom:30px;
	}
	#screenshots-carousel .carousel-indicators {
		bottom:-5px;
	}
	#video-promotion{
		min-height:400px;
	}
	#video-promotion a{
		font-size:22px;
		margin-top:160px;
	}
	#video-promotion a i{
		font-size:30px;
	}
	#quote-carousel .item {
		font-size: 16px;
		line-height: 30px;
	}
	.feature-logos ul li{
		width:49%;
	}
	#get-touch .contact-social li {
		display: inline-block;
		margin: 10px;
	}
	#get-touch .contact-social li a{
		font-size:20px;
	}
	#get-touch img {
		margin-top:0;
	}
	#apps-footer{
		margin-top:0;
	}
	#apps-footer h4{
		margin-bottom:20px;
	}
	#apps-footer .col-sm-3 {
		overflow:hidden;
	}
	.powered-by {
		margin-top:20px;
	}
	#behind-app .col-sm-3, #screenshots-carousel  .col-sm-3 {
		width:50%;
		float:left;
	}
	
	.page-breadcrumb h1 {
		font-size:36px;
	}
	.page-breadcrumb ul li {
		margin-bottom:15px;
		margin-right:15px;
	}
	#team-members .team-manager .col-sm-offset-1 {
		margin-bottom:30px;
	}
	.member {
		width:50%;
	}
	#countdown ul li {
		margin-right:30;
		margin-bottom:0;
		display:inline-block;
	}
	.error-page-content {
		max-width:300px;
	}
	.project.medium-content .overlay a {
		font-size: 22px;
		margin-top: -45px;
	}
	.project.medium-content .overlay h3 {
		font-size: 18px;
	}
	.project.medium-content .overlay h4 {
		font-size: 16px;
		margin-top: 12px;
	}
	.filterable-product, .filterable-product.filter2 {
		width:50%;
	}
	.project .overlay {
		margin:10px;
	}
	.post .entry-meta ul li {
		margin-bottom:10px;
	}
	.widget .recent-comment .media, .widget .latest-posts .media{
		overflow:hidden;
	}
	.parent.media-list{
		margin-left:0;
	}
	.product-count{
		padding-top:0;
	}
	#shop-carousel .carousel-indicators{
		position:static;
		overflow:hidden;
		margin-left:0;
	}
	#shop-carousel .carousel-indicators li {
		display: inline-block;
		height: 132px;
		margin-right: 15px;
		margin-top: 15px;
		width: 135px;
	}
	.shop-details .product-info h2 {
		margin:0;
	}
	.product-info .rating {
		margin-top:20px;
	}
	.description-tab .nav-tabs > li {
		width:50%;
	}
	#contact-page .page-title, #contact-page-two .page-title {
		padding:10px 0 50px;
	}
	.contact-info> .col-sm-3, 
	.contact-info> .col-sm-6 {
		width:50%;
		float:left;
	}
	.contact-info {
		padding-bottom:0;
	}
	#contact-page-two .contact-info li address {
		margin-bottom:15px;
	}
	#projects-details .project-content {
		margin-bottom:15px;
	}
	#projects-details .other-products {
		margin-top:40px
	}
}

/* XS Portrait */
@media (max-width: 479px) {
	
	.client-content ul li {
	  width: 50%;
	}	
	#service .col-md-3 {
		float: none;
		margin-bottom: 45px;
		width: 100%;
	}
	.portfolio-item {
		width:100%;
	}
	.portfolio-content .overlay {
		padding: 100px 30px 30px 30px;
	}
	.overlay a.folio-detail, 
	.overlay a.folio-link {
		left: 33px;
	}
	.overlay h2 {
		top:0;
	}
	.overlay p {
		top:5px;
	}
	.overlay a.folio-detail {
		top:50px;
	}
	.skill-data {
		line-height: 120px;
	}	
	#team-carousel .carousel-inner .col-sm-3, 
	.pricing-table .col-sm-3 {
		width: 100%;
		float: none;
	}
	.single-blog {
		height: auto;
	}
	.single-blog img {
		width: 100%;
	}
	.blog-image, 
	.entry-content {
		float: none;
		width: 100%;
	}
	
	
	
	.blog1 .regu-news .sidebar .post .post-content {
		padding: 25px;
	}
	.blog1 .regu-news .post .post-content {
		padding: 15px;
	}	
	.post .post-content {
		padding:20px;
	}	
	#fun-fact .funs h3 {
		font-size: 12px;
		text-transform: capitalize;
	}
	#fun-fact .timer{
		font-size:25px;
	}
	#behind-app .col-sm-3, #screenshots-carousel  .col-sm-3{
		width:100%;
	}
	.member {
		width:100%;
	}
	.page-breadcrumb {
		min-height:360px;
	}
	#countdown ul li {
		margin-right:30;
		margin-bottom:20px;
	}
	.error-page-content {
		max-width:200px;
	}
	.filterable-product, .filterable-product.filter2 {
		width:100%;
	}
	.project .overlay {
		margin:20px;
	}
	.blog-search-top {
		width:275px;
	}
	.contact-info> .col-sm-3, 
	.contact-info> .col-sm-6 {
		width:100%;
	}
}

